*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    height: calc(40vh - 200px);
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
    background: url("../gfx/slider.jpg") center/cover no-repeat
}

.customFont{
    text-shadow: 0 0 15px rgba(0,0,0,0.3);
    font-family: 'Dancing Script';
    cursor: pointer;
    color: white;
    font-size: 10vw;
}

#nodefault{
    text-decoration: none;
    border: 0px !important;
}

#navbarLogin{
    z-index: 20;
    position: sticky;
    top: 0px;
    height: 10%;
    min-height: 60px;
    background-color: #171b27;
}

.customFontSmall{
    font-family: 'Dancing Script';
    cursor: pointer;
    color: #ffc404;
}

#loggedAs{
    margin-right: 10px;
}

#middleForm{
    display: flex;
    flex-direction: row;
}

#wrapper{
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#sidebar-wrapper{
  z-index: 10;
  width: 15%;
  min-width: 160px;
  background-color: #171b27;
}

.sidebar-nav {
  margin-top: 10px;
  position: sticky;
  width: 100%;
  list-style: none;
}

.sidebar-nav li {
  width: 100%;
  text-align: center;
  line-height: 70px;
  font-size: 30px;

}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

/* list films */
#page-content-wrapper{
  flex: 1;
}

#filmList{
  width: 100%;
}

.filmSection{
  background-color: white;
  width: 100%;
  height: 52vh;
  min-height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.filmSection:nth-of-type(even){
  background-color: #f3f3f3;
}

.content{
  width: 50%;
  height: 90%;
  background-color: #171b27;
  border-radius: 20px;
  color: white;
  padding: 10px;
  display: block;
  transition: 1s;
}

@media only screen and (max-width: 800px) {
  .content {
      width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .content {
      width: 85%;
  }
}

.filmMain{
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.filmMain img{
  height: 100%;
}

.filmMainInfo{
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.filmMain h1{
  font-size: 2.5vw;
  word-wrap: break-word;
}

.info{
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size:calc(7px + 1vw);
}

.filmDescription{
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description{
  margin-top: 15px;
  font-size:calc(7px + 0.8vw);
  word-wrap: break-word;
}

.graytext{
  color: grey;
}

.checked{
  color: #ffc404 !important;
  margin-left: 3px !important;
}

.filmButton{
  float: right;
  margin-right: 20px;
}

.hide{
  height: 0 !important;
  min-height: 0px !important;
}

.remove{
  display: none !important;
}

