* {
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #f8f9fa;
    padding-right: 0 !important
}


#panels{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
}

.signButton{
    display: block;
    box-sizing: content-box;
    height: 40%;
    width: 40%;
    background-color: #171b27;
    color: #ffc404;
    border-radius: 20px;
    font-size: 200%;
    line-height: 120%;

    padding: 0px;
    margin: 20px;
    min-width: 360px;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

#header{
    height: 10%;
    min-height: 60px;
    max-height: 85px;
}

#navbarLogin{
    height: 100%;
    background-color: #171b27;
}

#aRekinmed{
    margin-left: 4vw;
}

#loginButton{
    margin-right: 5vw;
}

#content{
    height: 90%;
}

.container{
    width: 100%;
    height: 100%;
}

.row{
    height: 100%;
    display: flex;
    flex-flow: column;
}

#examplesList{
    border: 4px solid #171b27;
    border-radius: 10px;
    flex: 1;
    overflow-y: scroll;
    margin-top: 15px;
}


#modalColumn{
    position: fixed;
    z-index: 1041; /* 1041 because fade is z-index 1040 */
}

.ofert{
    margin-top: 20px;
    background-color: #E8E8E8;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box; 
}

.ofertDescription{
    font-size:calc(12px + 1vw);
    word-wrap: break-word;
}

.customFont{
    font-family: 'Dancing Script';
    cursor: pointer;
    color: #ffc404;
}